.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 84px;
  height: 95vh;
}

@media (max-width: 1024px) {
  iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
